# --- Interfaz Gráfica (GUI) ---
PySide6==6.11.1
PySide6_Essentials==6.11.1
PySide6_Addons==6.11.1
shiboken6==6.11.1

# --- Comunicación y Utilidades de Hardware ---
pyserial==3.5
intelhex==2.3.0

# --- Monitoreo de Procesos y Sistema ---
psutil==7.2.2
packaging==26.2

# --- Empaquetado y Distribución (.exe/.app) ---
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
altgraph==0.17.5
